.background {
    background: white;
    color: black;
    padding: 4rem 0 2rem 0;
}

.container {
    margin-top: 2rem;
}

.container1 {
    position: relative;
    background: white;
}

.container2 {
    position: relative;

    background: rgb(240, 240, 240);
}