.background {
    background: white;
    color: black;
    padding-top: 4rem;
}

/* section start */
.start {
    padding: 0 1rem;
    max-width: 1200px;
    margin: auto;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 4rem 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.item__title {
    font-size: 2rem;
    color: rgb(var(--accent));
    font-family: 'Kalam', cursive;


}

.item__text {
    align-self: flex-start;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 1rem;
    text-align: justify;
    color: black;
    font-weight: normal;
}

.item__textUl {
    align-self: flex-start;

    padding-left: 2rem;
}

.item__textLi {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    text-align: justify;
    color: black;
    font-weight: normal;
}

/* MEDIA */


@media (min-width: 600px) {}