.background {
    background: white;
    color: black;
    padding-top: 4rem;
}

.figure__img {
    height: 100%;
    width: 100%;
}


/* section start */
.start {
    max-width: 600px;
    margin: auto;
    padding: 4rem 1rem;
}


/* MEDIA */


@media (min-width: 600px) {}